body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h2{
  font-size: 400%;
}
header {
  background-color: grey;
  color: white;
  padding: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  color: #333;
}
main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}
aside {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #ccc;
  padding-right: 20px;
  flex-basis: 30%;
}
div {
  flex-basis: 70%;
}
/* make the aside and div tags the same height */
main::after {
  content: "";
  display: table;
  clear: both;
}
aside, div {
  display: inline-block;
  vertical-align: top;
}

#about-me {
  display: flex;
  flex-wrap: wrap;
}

#description {
  align-content: flex-end;
  padding-left: 10px;
}
.banner {
  position: relative;
}
.banner p {
  position: absolute;
  bottom: 8px;
  right: 30px;
  color: black;
  background-color: lightgrey;
}


#banner {
  width: 100%;
  height: 150px;
}

nav div a {
  text-decoration: underline;
}

#firstImage {
display: flex;
position: relative;
justify-content: center;
}

#firstImage img {
width: 100%;
margin: 20px;
border: darkgray;
border-style: solid;
border-width: 10px
}
#firstImage p {
position: absolute;
background-color: darkgrey;
top:350px;
right: 130px;

}
/* .projects {
display: flex;
flex-wrap: wrap;
}
.sizing {
display: flex;
flex-direction: row;
} */
.images {
display: flex;
flex-wrap: wrap;
/* flex-direction: row; */
}
/* .projectImages {
display: flex;
flex-wrap: wrap;
flex-direction: row;
width: 50%;
} */
.projectImages img {
width: 50%;
border: darkgrey;
border-style: solid;
border-width: 5px;
}


.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact {
  font-size: 150%;
}

section div a:link {
color: black;
}
section div a:hover{
color: blue;
}
section div a::after{
color: black;
}


@media screen and (max-width:768px ) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center
  };

  aside {
    border-right: none;
  }
  aside h2 {
    font-size: 150%;
  }

  section div {
    text-align: center;
  }
  .contact {
    flex-direction: column;
  }
}